@page
@model Website_Demo.Pages.contact
@{
    
}


<p>We'd love to hear from you! Please fill out the form below to get in touch with us.</p>

<form asp-action="Contact" method="post">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" class="form-control" id="Name" name="Name" required />
    </div>
    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
    </div>
    <div class="form-group">
        <label for="Message">Message:</label>
        <textarea class="form-control" id="Message" name="Message" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send Message</button>
</form>